<%= turbo_frame_tag "message_#{message.id}", class: 'bg-gray-200 px-3 py-2 flex justify-between rounded items-center gap-2 shadow' do %>
  <div class="flex gap-1">
    <span class="text-gray-600 text-sm"> <%= message.user.email %></span>
    <span class="font-semibold text-sm"> <%= message.message %></span>
  </div>
  <div class="flex gap-3">
    <%= button_to '#', class: 'text-sm font-medium bg-purple-800 text-grey py-1 px-3 rounded', params: {message: message}, method: :get do %>
      Edit
    <% end %>

    <%= button_to '#',  class: 'text-sm font-medium bg-red-800 text-grey py-1 px-3 rounded', params: {message: message}, method: :delete do %>
      Delete
    <% end %>
  </div>
<% end %>
