<main class="bg-[#f8fafc] h-screen flex flex-col justify-center gap-10">
  <section class="flex flex-col items-center gap-1">
    <%= image_tag('01.png', width: 100) %>
    <h1 class="font-bold text-4x1 text-gray my-4">Chat - Developer</h1>
    <p class="text-center font-semibold text-gray">Este chat é um projeto com Rals 7</p>
  </section>

  <section class="flex flex-col items-center gap-1">
    <h2 class="text-gray font-bold text 2x1 mb-5">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:'flex flex-col') do |f| %>

      <div class="flex gap-1 my-2 items-center w-96">
        <%= f.label :email, class: 'text-gray font-semibold text-sm w-24'%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'text-sm font-medium rounded w-full' %>
      </div>

      <div class="flex gap-1 my-2 items-center w-96">
        <%= f.label :password, class: 'text-gray font-semibold text-sm w-24' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'text-sm font-medium rounded w-full' %>
      </div>

      <div class="flex gap-1 my-5 items-center justify-center">
        <%= f.submit "Log in", dafa: {turbo: false}, class: 'bg-[#2e1065] rounded p-3 text-white font-semibold' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </ section>
</main>
