<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-grey-50 mb-5 text-purple-500"><%= notice %></p>
  <% end %>

  <%= render @room %>

    <%= link_to "Edit this post", edit_room_path(@room), class: %> |
    <div class="inline-block ml-2">
      <%= button_to "Destroy room", @room, method: :delete %>
    </div>
    <%= link_to "Back to rooms", rooms_path %>
  </div>
</div>
